/* start of sidenav */
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 50%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #B8B7B7; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    /* margin-right: auto; */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
}
/* end of sidenav*/

.disappear-sm {
    display: none;
}

.inline-display {
    display: inline-block;
}

.ham {
    width: 35px;
    height: 3px;
    background-color: #4E4E4E;
    margin: 6px 10px;
}

.horinav a {
    float: right;
    color: #818181;
    margin: auto 10px auto 10px;
    font-size: 20px;
}

.horinav a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

.color {
    background-color: #B8B7B7;
}

.background {
    background-color: lightgrey;
    /* background-image:url(./img/background.jpg) */
}

.my-info {
    text-align: center;
}

.my-photo {
    display: block;
    margin: auto;
    width: 200px;
    margin-bottom: 0px;
}

.card-body-detail {
    padding-top: 0px;
}

@media only screen and (min-width: 768px) {
    .my-photo {
        margin-bottom: -50px;
    }

    .card-body-detail {
        padding-top: 50px;
    }

    .my-info {
        text-align: left;
    }
    
    .disappear-md {
        display: none;
    }

    .disappear-sm {
        display: inline;
    }
}

body {
    max-width: 1000px;
    margin: 0 auto 0 auto; 
}

.my-links {
    border-radius: 50%;
    background-color: white;
    border: none;
    color: grey;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 40px;
    height: 40px;
}

